.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.MuiPagination-root {
  display: flex;
  justify-content: center;
}

.MuiPaginationItem-root {
  font-size: 1.2rem;
  font-weight: 500;
  margin-right: 0.5rem;
  border-radius: 0.25rem;
  color: #333;
}

.Mui-selected {
  background-color: #1a91da;
  color: #fff;
}
