.action-icon {
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .view-team-icon {
    color: #4caf50;
  }
  .edit-team-members-icon{
    color: #1976d2;
  }
  .edit-team-icon {
    color: var(--gray);
  }
  
  .delete-team-icon {
    color: #f44336;
  }
  
  .action-icon:hover {
    transform: scale(1.2);
  }
  
  .view-team-icon:hover {
    color: #388e3c;
  }

  
  .edit-team-icon:hover {
    color: var(--gray);
  }
  
  .delete-team-icon:hover {
    color: #c62828;
  }
  