.home-page {
  width: 90%;
  margin-top: 17px;
}
.home-page-content-peek {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}
.home-page-content-peek > div {
  border-radius: 5px;
  margin: 15px 5px;

  flex: 30%;
  overflow: hidden;
  border: 2px solid #c9c9c9;
  background-color: var(--main);
}
.home-page-content-peek > div:hover {
  transform: scale(1.02);
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.home-page-content-peek .potatoes {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 70px;
}

.home-page-content-peek .potatoes h2 {
  color: var(--accent);
}
@media (max-width: 1000px) {
  .home-page-content-peek {
    display: flex;
    flex-direction: column;
  }

  .home-page-content-peek h2 {
    font-size: 1.5rem;
  }
}
