.employee-delete-icon {
  font-size: 24px;
}
.employee-view-icon {
  font-size: 24px;
}

.employee-name {
  color: #f6f8fa;
  margin-top: 63px;
}
.css-yrdy0g-MuiDataGrid-columnHeaderRow {
  background-color: var(--accent);
  color: var(--main);
}
.css-rtrcn9-MuiTablePagination-root:last-child{
  display: none;
}
/* .css-14htd3x-MuiDataGrid-root .MuiDataGrid-withBorderColor{
  display: none;
} */
.css-14htd3x-MuiDataGrid-root.MuiDataGrid-autoHeight>div:last-child{
  display:none
}