.page-header {
  border-radius: 5px;
  background-color: var(--accent);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.add-button-parent {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 768px) {
  .page-header {
    flex-direction: column;
  }

  .add-button-parent {
    flex-direction: column;
  }
  
  .page-header-content-small {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    font-size: 16px; 
  }
}

.page-header-content-large {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
