
h2 {
  font-size: 2rem;
  font-weight: 600;
}
.tableall {
  background-color: #f4f9fc;
  height: 70vh;
  margin: 0 auto;
}
.css-1f8o8r6-MuiPaper-root-MuiTableContainer-root{
  margin-top:20px
}
.MuiTableCell-head{
  color:var(--main)
}