.employee-profile-page {
  width: 100%;
  margin: auto;
}
.card {
  justify-content: center;
  align-items: center;
  height: 26vh;
  margin-left: 100px;
  margin-top: 14px;
  width: 600px;
  border-radius: 10px;
}

.right-section-1 {
  display: flex;
  flex-direction: column;
}

.right-section-2 {
  display: flex;
  flex-direction: column;
}
.textfield {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 10px;
  justify-content: space-around;
}

.backward-button {
  background-color: var(--accent);
  color: #f6f8fa;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  position: absolute;
  left: 1rem;
  top: 1rem;
  cursor: pointer;
}
.save-button {
  height: 30px;
  text-align: center;
  position: absolute;
  top: 290px;
  right: 160px;
  bottom: auto;
}

.header-employee-fullname {
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
}

.employee-editicon {
  font-size: 28px;
  margin-right: 7px;
}
.employee-editicon:hover{
  transform: scale(1.2);
  transition: 0.3s;
  color: #1976d2;
}
.first-item-in-the-header {
  width: 20px;
  height: 20px;
}