.card {
  justify-content: center;
  align-items: center;
  height: 26vh;
  margin-left: 100px;
  margin-top: 14px;
  width: 600px;
  border-radius: 10px;
}
.right-section {
  display: flex;
  flex-direction: row;
  color: #333;
  margin: auto;
}
.input {
  display: flex;
  flex-direction: row;
  margin: auto;
}
h4 {
  background-color: #369fff;
  height: 39px;
  width: 300px;
  border-radius: 10px;
  color: white;
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
